.row.man
  .col-xs-24.col-sm-24.col-md-24.col-lg-24.mvxxl.txt-c
    a(href='https://cloudfoundry.org', target='_blank')
      img.txt-b(src='/images/the-rabbit.svg', width='52', alt='Cloud Foundry', title='Cloud Foundry')
    span.h1.em-high.txt-m.mhl.type-neutral-4 
     | + 
    a(href='https://nodejs.org', target='_blank')
      img.txt-m(src='/images/nodejs_logo.png', width='46', alt='Node.js', title='Node.js')
