doctype
html
  head
    title Node.js App
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link( rel='shortcut icon', href='/shortcut-icon.png')
    link( rel='stylesheet', href='/pui-3.0.0/pivotal-ui.min.css')
    link( rel='stylesheet', href='/font-mfizz-2.3.0/font-mfizz.css')
    script( src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script( src='/javascripts/ping.js')
  
  body
    .container.pan
      section.header
        include ../partials/header
      section.content
        include ../partials/content
      section.footer
        include ../partials/footer
